<ion-view view-title="Home">
    <ion-content>
        <!-- barra de pesquisa -->
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="O que você deseja?" ng-model="pesquisa">
            </label>
        </div>

        <!-- listagem de produtos -->
        <div class="container-produtos">
            <div class="list card" ng-repeat="produto in produtos | filter:pesquisa" ng-click="verProduto(produto.id)">
                <div class="item">
                    <h2>{{ produto.nome }}</h2>
                    <p>{{ produto.preco | currency:'R$ ':2 }}</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="/img/produto.svg">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>